/*************************
  Basic margin padding
*************************/
.m-0 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
.p-0 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
/*************************
         Margin top
*************************/
.mt-0 { margin-top: 0 }
.mt-10 { margin-top: 10px }
.mt-12 { margin-top: 12px }
.mt-15 { margin-top: 15px }
.mt-20 { margin-top: 20px }
.mt-30 { margin-top: 30px }
.mt-35 { margin-top: 35px }
.mt-37 { margin-top: 37px }
.mt-40 { margin-top: 40px }
.mt-50 { margin-top: 50px }
.mt-55 { margin-top: 55px }
.mt-60 { margin-top: 60px }
.mt-70 { margin-top: 70px }
.mt-80 { margin-top: 80px }
.mt-90 { margin-top: 90px }
.mt-100 { margin-top: 100px }
.mt-110 { margin-top: 110px }
.mt-120 { margin-top: 120px }
.mt-130 { margin-top: 130px }
.mt-140 { margin-top: 140px }
.mt-160 { margin-top: 160px }
.mt-179 { margin-top: 179px }
.mt-150 { margin-top: 150px }
/*************************
      Margin right
*************************/
.mr-0 { margin-right: 0px }
.mr-10 { margin-right: 10px }
.mr-12 { margin-right: 12px }
.mr-15 { margin-right: 15px }
.mr-20 { margin-right: 20px }
.mr-30 { margin-right: 30px }
.mr-35 { margin-right: 35px }
.mr-40 { margin-right: 40px }
.mr-50 { margin-right: 50px }
.mr-60 { margin-right: 60px }
.mr-70 { margin-right: 70px }
.mr-80 { margin-right: 80px }
.mr-90 { margin-right: 90px }
.mr-100 { margin-right: 100px }
.mr-110 { margin-right: 110px }
.mr-120 { margin-right: 120px }
.mr-130 { margin-right: 130px }
.mr-140 { margin-right: 140px }
.mr-150 { margin-right: 150px }
/*************************
      Margin bottom
*************************/
.mb-0 { margin-bottom: 0 }
.mb-10 { margin-bottom: 10px }
.mb-12 { margin-bottom: 12px }
.mb-15 { margin-bottom: 15px }
.mb-20 { margin-bottom: 20px }
.mb-25 { margin-bottom: 25px }
.mb-30 { margin-bottom: 30px }
.mb-35 { margin-bottom: 35px }
.mb-40 { margin-bottom: 40px }
.mb-45 { margin-bottom: 45px }
.mb-50 { margin-bottom: 50px }
.mb-55 { margin-bottom: 55px }
.mb-60 { margin-bottom: 60px }
.mb-65 { margin-bottom: 65px }
.mb-70 { margin-bottom: 70px }
.mb-80 { margin-bottom: 80px }
.mb-90 { margin-bottom: 90px }
.mb-100 { margin-bottom: 100px }
.mb-110 { margin-bottom: 110px }
.mb-120 { margin-bottom: 120px }
.mb-130 { margin-bottom: 130px }
.mb-140 { margin-bottom: 140px }
.mb-150 { margin-bottom: 150px }
/*************************
        Margin left
*************************/
.ml-0 { margin-left: 0 }
.ml-10 { margin-left: 10px }
.ml-12 { margin-left: 12px }
.ml-15 { margin-left: 15px }
.ml-20 { margin-left: 20px }
.ml-30 { margin-left: 30px }
.ml-40 { margin-left: 40px }
.ml-50 { margin-left: 50px }
.ml-60 { margin-left: 60px }
.ml-70 { margin-left: 70px }
.ml-80 { margin-left: 80px }
.ml-90 { margin-left: 90px }
.ml-100 { margin-left: 100px }
.ml-110 { margin-left: 110px }
.ml-120 { margin-left: 120px }
.ml-125 { margin-left: 125px }
.ml-130 { margin-left: 130px }
.ml-140 { margin-left: 140px }
.ml-150 { margin-left: 150px }
/*************************
        Padding top
*************************/
.pt-0 { padding-top: 0 }
.pt-10 { padding-top: 10px }
.pt-15 { padding-top: 15px }
.pt-20 { padding-top: 20px }
.pt-30 { padding-top: 30px }
.pt-37 { padding-top: 37px }
.pt-40 { padding-top: 40px }
.pt-50 { padding-top: 50px }
.pt-55 { padding-top: 55px }
.pt-60 { padding-top: 60px }
.pt-65 { padding-top: 65px }
.pt-70 { padding-top: 70px }
.pt-75 { padding-top: 75px }
.pt-80 { padding-top: 80px }
.pt-85 { padding-top: 85px }
.pt-95 { padding-top: 95px }
.pt-90 { padding-top: 90px }
.pt-100 { padding-top: 100px }
.pt-105 { padding-top: 105px }
.pt-110 { padding-top: 110px }
.pt-115 { padding-top: 115px }
.pt-120 { padding-top: 120px }
.pt-125 { padding-top: 125px }
.pt-130 { padding-top: 130px }
.pt-135 { padding-top: 135px }
.pt-140 { padding-top: 140px }
.pt-150 { padding-top: 150px }
.pt-160 { padding-top: 160px }
.pt-180 { padding-top: 180px }
.pt-200 { padding-top: 200px }
.pt-300 { padding-top: 300px }

/*************************
        Padding right
*************************/
.pr-0 { padding-right: 0 }
.pr-10 { padding-right: 10px }
.pr-15 { padding-right: 15px }
.pr-20 { padding-right: 20px }
.pr-30 { padding-right: 30px }
.pr-40 { padding-right: 40px }
.pr-50 { padding-right: 50px }
.pr-60 { padding-right: 60px }
.pr-70 { padding-right: 70px }
.pr-80 { padding-right: 80px }
.pr-90 { padding-right: 90px }
.pr-100 { padding-right: 100px }
.pr-110 { padding-right: 110px }
.pr-120 { padding-right: 120px }
.pr-130 { padding-right: 130px }
.pr-140 { padding-right: 140px }
.pr-150 { padding-right: 150px }
.pr-160 { padding-right: 160px }
.pr-180 { padding-right: 180px}
.pr-195 { padding-right: 195px }
/*************************
        Padding bottom
*************************/
.pb-0 { padding-bottom: 0 }
.pb-10 { padding-bottom: 10px }
.pb-15 { padding-bottom: 15px }
.pb-20 { padding-bottom: 20px }
.pb-25 { padding-bottom: 25px }
.pb-30 { padding-bottom: 30px }
.pb-35 { padding-bottom: 35px }
.pb-40 { padding-bottom: 40px }
.pb-45 { padding-bottom: 45px }
.pb-50 { padding-bottom: 50px }
.pb-55 { padding-bottom: 55px }
.pb-60 { padding-bottom: 60px }
.pb-65 { padding-bottom: 65px }
.pb-70 { padding-bottom: 70px }
.pb-75 { padding-bottom: 75px }
.pb-80 { padding-bottom: 80px }
.pb-85 { padding-bottom: 85px }
.pb-90 { padding-bottom: 90px }
.pb-95 { padding-bottom: 95px }
.pb-97 { padding-bottom: 97px }
.pb-100 { padding-bottom: 100px }
.pb-110 { padding-bottom: 110px }
.pb-115 { padding-bottom: 115px }
.pb-120 { padding-bottom: 120px }
.pb-125 { padding-bottom: 125px }
.pb-130 { padding-bottom: 130px }
.pb-140 { padding-bottom: 140px }
.pb-145 { padding-bottom: 145px }
.pb-150 { padding-bottom: 150px }
.pb-160 { padding-bottom: 160px }
.pb-180 { padding-bottom: 180px }
.pb-200 { padding-bottom: 200px }
.pb-250 { padding-bottom: 250px }
.pb-300 { padding-bottom: 300px }
/*************************
        Padding left
*************************/
.pl-0 { padding-left: 0 }
.pl-5 { padding-left: 5px }
.pl-10 { padding-left: 10px }
.pl-15 { padding-left: 15px }
.pl-20 { padding-left: 20px }
.pl-30 { padding-left: 30px }
.pl-40 { padding-left: 40px }
.pl-50 { padding-left: 50px }
.pl-60 { padding-left: 60px }
.pl-70 { padding-left: 70px }
.pl-80 { padding-left: 80px }
.pl-90 { padding-left: 90px }
.pl-100 { padding-left: 100px }
.pl-110 { padding-left: 110px }
.pl-120 { padding-left: 120px }
.pl-125 { padding-left: 125px }
.pl-130 { padding-left: 130px }
.pl-140 { padding-left: 140px }
.pl-150 { padding-left: 150px }
.pl-155 { padding-left: 155px }
.pl-190 { padding-left: 190px }
.pl-195 { padding-left: 195px }


/***************************
    Page section padding 
****************************/
.ptb-0 { padding: 0 }
.ptb-10 { padding: 10px 0 }
.ptb-15 { padding: 15px 0 }
.ptb-20 { padding: 20px 0 }
.ptb-30 { padding: 30px 0 }
.ptb-32 { padding: 32px 0 }
.ptb-40 { padding: 40px 0 }
.ptb-50 { padding: 50px 0 }
.ptb-60 { padding: 60px 0 }
.ptb-70 { padding: 70px 0 }
.ptb-80 { padding: 80px 0 }
.ptb-90 { padding: 90px 0 }
.ptb-100 { padding: 100px 0 }
.ptb-110 { padding: 110px 0 }
.ptb-120 { padding: 120px 0 }
.ptb-130 { padding: 130px 0 }
.ptb-135 { padding: 135px 0 }
.ptb-140 { padding: 140px 0 }
.ptb-150 { padding: 150px 0 }
.ptb-160 { padding: 160px 0 }
.ptb-170 { padding: 170px 0 }
.ptb-177 { padding: 177px 0 }
.ptb-180 { padding: 180px 0 }
.ptb-190 { padding: 190px 0 }
.ptb-200 { padding: 200px 0 }
.ptb-210 { padding: 210px 0 }
.ptb-220 { padding: 220px 0 }
.ptb-250 { padding: 250px 0 }
.ptb-290 { padding: 290px 0 }
.ptb-310 { padding: 310px 0 }

/***************************
    Page section margin 
****************************/
.mtb-0 { margin: 0 }
.mtb-10 { margin: 10px 0 }
.mtb-15 { margin: 15px 0 }
.mtb-20 { margin: 20px 0 }
.mtb-30 { margin: 30px 0 }
.mtb-40 { margin: 40px 0 }
.mtb-50 { margin: 50px 0 }
.mtb-60 { margin: 60px 0 }
.mtb-70 { margin: 70px 0 }
.mtb-80 { margin: 80px 0 }
.mtb-90 { margin: 90px 0 }
.mtb-100 { margin: 100px 0 }
.mtb-110 { margin: 110px 0 }
.mtb-120 { margin: 120px 0 }
.mtb-130 { margin: 130px 0 }
.mtb-140 { margin: 140px 0 }
.mtb-150 { margin: 150px 0; }
.mtb-290 { margin: 290px 0; }


/*-----------------------------
         swatch-color
 -------------------------------*/
.swatch-white{
    background-color: #fff;
}
.swatch-blue{
    background-color: #3b38c1;
}
.swatch-green{
    background-color: #81d742;
}
.swatch-orange{
    background-color: #fcb700;
}
.swatch-purple{
    background-color: #800080;
}
.swatch-red{
    background-color: #dd3333;
}


.text-capitalize{
    text-transform: capitalize;
} 
.text-uppercase{
	text-transform: uppercase;
}
.text-lowercase{
	text-transform: lowercase;
}
.text-center{
    text-align: center;
}  
.text-white{
    color: #fff!important;
    *{
        color: #fff!important;
    }
}
.color-primary{
    display: block;
    color: $theme-color !important;
    *{
        color: $theme-color !important;
     }
}
.color-second{
    display: block;
    color: $theme-color-second !important;
    *{
        color: $theme-color-second !important;
     }
}
/*-----------------------------
     display
 -------------------------------*/
.d-none{
	display: none;
}
.d-flex{
    display: -webkit-flex;
    display: flex;
}
.d-block{
     display: block;
}
.d-inline-block{
	display: inline-block;
}
.align-items-center{
   align-items: center;
}
.justify-content-center{
    justify-content:center;
}
.justify-content-between{
    justify-content:space-between;
}
.otf-flex-item {
    flex: 1 0 auto;
}
.required {
    color: red;
}
input, select,textarea{
    width: 100%;
    height: 48px;
    padding-left: 10px;
    font-size: 14px;
    border: solid 1px $border-color-second;

}
input:focus,
select:focus {
    outline: 0;
    box-shadow: none;
    border: solid 1px $border-color
}
input.btn{
    width: auto;
}
.form-control:focus {
    box-shadow: none;
}
.first{
    clear: both;
}
.font-italic{
    font-style: italic;
}
.font-bold{
    font-weight: bold !important;
}
.bg-overlay{
    position: relative;
    z-index: -2;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(0, 0, 0, 0.8);
    }
}
.section-bg{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 9;
}
.section-bg-fix{
   background-attachment: fixed;  
}


/*-----------------------------
   owl-carousel 
 -------------------------------*/
.owl-carousel{
    text-align: center;
    &.owl-theme {
        margin-left: -15px;
        margin-right: -15px;
    }
    .item{
        padding-left: 15px;
        padding-right: 15px;
    }
    .slick-dots{
        display: inline-block;
        margin: 20px 0px;
        li{
            list-style-type: none;
            float: left;
            button{
                width: 10px;
                height: 10px;
                line-height: 10px;
                margin: 2px;
                border: none;
                color: transparent;
                outline: none;
            }
            &.slick-active{
                button{
                    background: $theme-color;
                }
            }
        }
    }
}
.item{
    outline: none;
}


/*-----------------------------
   accordion
 -------------------------------*/
.panel{
    padding: 18px 0px;
    border:none;
    border-top: solid 1px #f1f1f1;
    box-shadow: none;
}
.panel-heading{
    background-color: transparent;
    padding: 0px;
}
.panel-body{
    padding-left: 50px;
    border-top-color: #fff;
}
.panel-title{
    font-size: 18px;
    font-weight: 400;
    color: #010101;
    > a{
        &:before{
            font-family: FontAwesome;
            content:"\f056";
            padding-right: 30px;
        }
        &.collapsed{
            &:before{
                content:"\f055";
            }
        }
        &:hover,
        &:active,
        &:focus{
            text-decoration:none;
        }
    }
}
.collapse.in{
    + .panel-heading{
        a:before{
            color: $theme-color-second;
        }
    }
}
a[aria-expanded="true"]{
  color: $theme-color;
}
.accordion_tab{
    .accordion-heading{
        padding-bottom: 30px;
        .subtitle{
            font-size: 16px;
            text-transform: uppercase;
        }
        .title{
            font-size: 30px;
            line-height: 40px;
        }
    }
    + .accordion_tab{
        padding-top: 50px;
    }
}

/*-----------------------------
   social
 -------------------------------*/
.social{
    li{ 
        float: left;
        font-size: 16px;
        margin-left: 5px;
        margin-right: 5px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: solid 1px $border-color-second;
        &:first-child{
            margin-left:0px;
        }
        a{
            color: #ddd;
            i{
                -webkit-transition: all .5s ease;
                -o-transition: all ease .5s;
                transition: all .5s ease;
            }
        }   
        &:hover{
            border: solid 1px $theme_color;
            a{
                i{
                    color: $theme_color!important;
                    -webkit-transform: scale(1.25);
                    -moz-transform: scale(1.25);
                    -ms-transform: scale(1.25);
                    -o-transform: scale(1.25);
                    transform: scale(1.25);
                }
            }
        }
    }
}

/*-----------------------------
   features
 -------------------------------*/
.features_list{
    padding-bottom: 30px;
    .features-images{
        padding-bottom: 10px;
        img{
            -webkit-transition-duration: .5s;
            transition-duration: .5s;
        }
    }
    .features-description{
        h4{
            font-size: $feature-heading-size;
            margin-bottom: 5px;
        }
    }
    &:hover{
        img{
            transform: scale(1.1);
            -o-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
        }
        .features-description{
            h4{
                color: $theme-color;
            }
        }
    }
}
.features{
    &.skin1{
      .features_list{
            .features-images{
                display: inline-block;
                float: left;
                width: 60px;
                
            }
            .features-description{
                overflow: hidden;
                padding-left: 20px;
                h4{
                    margin-top: -1px;
                    line-height: 40px;
                }
            }
            
            &.list_item{
               align-items: center;
            }
        }
    }
}
.features-border{
    display: inline-block;
    width: 100%;
    margin: 60px 0;
    border: solid 1px $border-color;
    .features_list{
        padding-bottom: 0;
    }
    > div{
        margin: 50px 0;
        &:not(:last-child){
            border-right: solid 1px $border-color;
        }
    }
}

/*-----------------------------
        accordion
 -------------------------------*/
.heading{
    padding-bottom: 60px;
    font-weight: bold;
    .heading__sub{
       font-size: 16px;
       padding-bottom: 10px;
    }
    .heading__title{
        font-size: 40px;
        line-height:  40px;
        color: #000;
        letter-spacing: -0.8px;
    }
}
/*-----------------------------
        slick-prev 
 -------------------------------*/
 
.slick-slider{
    .slick-arrow {
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        padding: 0;
        cursor: pointer;
        color: #000;
        border: none;
        outline: none;
        background: transparent;
    }
    .slick-prev:before,
    .slick-next:before{
        font-family: FontAwesome;
        position: absolute;
        font-size: 30px;
    }
    .slick-prev {
        left: -25px;
        &:before{
            content:"\f104";
        }
    }
    .slick-next {
        right: -25px;
         &:before{
             content:"\f105";
        }
    }
}


