@media only screen and (min-width: 1200px){
	.container-fluid{
		padding-left: 60px;
	    padding-right: 60px;
	}
}

@media only screen and (min-width: 767px){
    .header-mobile,
    .footer-mobile-bar{
        display: none;
    }
    .avatar{
		float: left;
		
	}
	.product-feature{
		.product-feature__meta{
			a.btn {
	 			display: flex;
	 		}
		}
	}
}

@media only screen and (max-width: 992px){
	.slider-pro h2.sp-layer {
	    font-size: 50px;
	    line-height: 50px;
	    letter-spacing: -4px;
	}
	.product-info{
		.product-meta{
			padding-top: 20px;
		}
	}
	.sidebar{
        padding-top: 60px;
    }
    .blog article .blog-content {
        padding: 10px;
    }
}
@media only screen and (max-width: 767px){
	.header-mobile{
    	background: $bg-color;
    	.navbar-collapse{
    		background: #fff;
    	}
    }
	.blog{
		.blog-list{
			article{
				display: block;
			}
		}
	}
	.product-feature{
        .feature-product {
            .product-feature__meta{
                display: block;
            }
            .product-price{
                padding-bottom: 20px;
            }
        }
    }
    .instagram-content{
        display: block;
         li{
            width: 50%;
            float: left;
        }
    }
	.page-404 .content-404 .title_404{
   		 font-size: 200px;
	}
	.avatar{
		text-align: center;
		padding-bottom: 20px;
	}
	.account-form-container{
		padding: 20px;
	}
	.site-footer{
		&.site-footer-1{
			.site-footer__main{
				.footer-block{
					padding-top: 30px;
				    padding-bottom: 30px;
				    text-align: center;
				}
			}
		}
	}
	
}
@media only screen and (max-width: 480px){
	.view-360 .spritespin, 
	.spritespin-canvas {
	    height: 320px !important;
	    width: 320px !important;
	}
}